<nav class="navbar navbar-expand-lg bg-dark">
    <a class="navbar-brand text-danger" href="#">ArogyaMithra</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-primary" aria-current="page" routerLink="/docdash">Back</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="container mt-4">
    <div>
      <label>Patient_Id: <b>{{ patient.pid }}</b></label><br />
      <label>Patient_Name: <b>{{ patient.pname }}</b></label><br />
      <label>Gender: <b>{{ patient.gender }}</b></label><br />
      <label>DateOfBirth: <b>{{ patient.dob }}</b></label><br />
      <label>Patient_Address: <b>{{ patient.patientAddress }}</b></label><br />
      <label>Contact_Number: <b>{{ patient.contInfo }}</b></label><br />
      <label>Insurance_Details: <b>{{ patient.insurance_Info }}</b></label><br />
    </div>
  </div>
  